.App {
  text-align: center;
}

body {
  background-color: #24c9d3;
}

.controlRow {
  display: inline-block;
  padding: 25px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.checkmark img {
  width:50px;
  margin:20px 10px;
}

.checkmark {
  display: inline-block;
}

.progressRow {
  text-align: center;
  width: 400px;
  margin: 0px auto;
}